*{
    margin: 0;
    padding: 0;


}
body{
    background-image: linear-gradient(to right top, #515151, #595959, #626262, #6a6a6a, #737373, #6c6c6c, #656565, #5e5e5e, #464646, #303030, #1b1b1b, #000000);
    cursor: url(../assets/images/cursor/822\ \(1\).png), auto;
}
// CURSOR
a{
    cursor: url(../assets/images/cursor/822\ \(2\).png), auto;
}
// SCROLL
body::-webkit-scrollbar{
    width: 10px;
    background-image: linear-gradient(to right top, #515151, #595959, #626262, #6a6a6a, #737373, #6c6c6c, #656565, #5e5e5e, #464646, #303030, #1b1b1b, #000000);
}

body::-webkit-scrollbar-thumb{
    background-color: #000000;
    border-radius: 50px;

}
body::-webkit-scrollbar-thumb:hover{
    background-image: radial-gradient(circle, #4df0ff, #4cf0ff, #4bf0ff, #4af0ff, #49f0ff, #51f1ff, #59f1ff, #60f2ff, #6ff3ff, #7cf4ff, #88f5ff, #93f6ff);

}