@media(min-width: 320px) and (max-width: 479px){
    main{
        .presentacion{ 
            height: 800px;
            #d_presentacion{
                width: 100%;
                height: 300px;
                h1{
                    font-size: 30px;
                }
                h1:hover{
                    display: none;
                }
            }
            article{
                width: 100%;
                height: 350px;
                img{
                    height: 200px;
                }
                img:hover{
                    display: none;
                }
            }
        }
    // QUIEN SOY    
        #about{
            height: 15vh;
            font-size: 30px;

        }
        #p_about{
            height: 50vh;
            margin-left: 5vh;
            margin-right: 5vh; 
            font-size: 13px;

        }
        
    // EXPERIENCE
        #experience{
            height: 20vh;
            font-size: 30px;
        }
        #s_experience{
            height: 30vh;

    // LOGOS EN MOVIMIENTO
            img{
                height: 100px;
            }
        }


    // CONTACT
        #contacto{
            #form{
                width: 100%;
                height: 120vh;
                #contact{
                    font-size: 30px;

                }
                #p_contact{
                    font-size: 15px;
                    text-align: justify;
                }
                
            }
            #mapa{
                width: 100%;
                height: 80vh;
                iframe{
                    width: 100%;
                    height: 100%;
                    
                }
            }
        }  
    }
}
@media(min-width: 480px) and (max-width: 767px){
    main{
        .presentacion{ 
            #d_presentacion{
                width: 100%;
                height: 450px;
                h1{
                    font-size: 30px;
                }
                h1:hover{
                    display: none;
                }
            }
            article{
                width: 100%;
                height: 350px;
                img{
                    height: 250px;
                }
                img:hover{
                    display: none;
                }
            }
        }
    // QUIEN SOY    
        #about{
            height: 15vh;
            font-size: 30px;

        }
        #p_about{
            height: 50vh;
            margin-left: 5vh;
            margin-right: 5vh; 
            font-size: 13px;

        }
        
    // EXPERIENCE
        #experience{
            height: 20vh;
            font-size: 30px;
        }
        #s_experience{
            height: 30vh;

    // LOGOS EN MOVIMIENTO
            img{
                height: 12px;
            }
        }
    // PROJECTS
        #projects{
            height: 20vh;
            font-size: 20px;

        }

    // CONTACT
        #contacto{
            #form{
                width: 100%;
                height: 120vh;
                #contact{
                    font-size: 30px;

                }
                #p_contact{
                    font-size: 15px;
                    text-align: justify;
                }
                
            }
            #mapa{
                width: 100%;
                height: 80vh;
                iframe{
                    width: 100%;
                    height: 100%;
                    
                }
            }
        }  
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    main{
        .presentacion{ 

            #d_presentacion{
                width: 100%;
                height: 300px;
                h1{
                    font-size: 40px;
                }
                h1:hover{
                    display: none;
                }
            }
            article{
                width: 100%;
                height: 500px;
                img{
                    height: 350px;
                 
                }
                img:hover{
                    display: none;
                }
            }
        }
    // QUIEN SOY    
        #about{

            font-size: 30px;

        }
        #p_about{
            height: 50vh;
            margin-left: 5vh;
            margin-right: 5vh; 
            font-size: 20px;

        }
        
    // EXPERIENCE
        #experience{
            height: 20vh;
            font-size: 30px;
        }
        #s_experience{
            height: 30vh;

    // LOGOS EN MOVIMIENTO
            img{
                height: 150px;
            }
        }
    // PROJECTS
        #projects{
            height: 20vh;
            font-size: 20px;

        }

    // CONTACT
        #contacto{
            #form{
                width: 100%;
                height: 100vh;
                #contact{
                    font-size: 40px;

                }
                #p_contact{
                    font-size: 20px;
                    text-align: justify;
                }
                
            }
            #mapa{
                width: 100%;
                height: 80vh;
                iframe{
                    width: 100%;
                    height: 100%;
                    
                }
            }
        }  
    }
}
@media(min-width: 1024px) and (max-width: 1440px){
    main{
        // INDICE Y PRESENTACION
            .presentacion{
                display: flex;
                flex-wrap: wrap;
                #d_presentacion{
                    display: flex;
                    flex-wrap: wrap;
                    height: 90vh;
                    width: 50%;
                    justify-content: center;
                    align-items: center; 
                    position: relative;
                    h1{
                        font-size: 50px;
                        margin-left: 50px;
                        color: rgba(201, 255, 248, 1);
                        font-family: 'Alkalami', serif; 
                        position: relative;
                        z-index: 2;
                    }
                    h1:hover{
                        font-size: 52px;
                    }
                }
                article{
                    height: 95vh;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    img{
                        height: 60vh;
                        border-radius: 20px;
                        position: relative;
                        z-index: 2;
                    }
                    img:hover{
                        height: 65vh;
                    }
           
                }
                .introvideo{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                   
            }
        // ABOUT  
            #about{
            }
            #p_about{
                height: 80vh;
            }
            
        // EXPERIENCE
            #experience{
                height: 30vh;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center; 
                font-size: 40px;
                font-family: 'Alkalami', serif;
                position: relative;
            }
            #s_experience{
                height: 70vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: black;
            }
        
        // PROJECTS
            #projects{
                height: 30vh;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                margin-right: 150px;
                font-size: 40px;
                font-family: 'Alkalami', serif; 
            }
            #s_projects{
                height: 80vh;
                background-color:cornsilk
            }
        // CONTACT
            #contacto{
                #form{
                    height: 80vh;
                    #contact{
                        margin-top: 30px;
                    }
                    #p_contact{
                        font-size: 15px;
                        margin: 20px;
                    }
                    #formulario{
                    }
                }
            }   
        }   
}
@media(max-width: 1200px){

}